/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px; /* Add padding for smaller screens */
    box-sizing: border-box;
}

#image-container img {
    max-width: 100%;
    height: auto;
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 8vw; /* Adjust font size based on screen width */
    margin-bottom: 20px;
    word-wrap: break-word;
}

#options {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
    justify-content: center; /* Center buttons */
}

button {
    padding: 10px 20px;
    margin: 10px; /* Adjust margin for small screens */
    font-size: 6vw; /* Adjust font size based on screen width */
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer;
}

button:active {
    transform: scale(0.95); /* Add a press effect */
}

@media (max-width: 600px) {
    #question {
        font-size: 10vw;
    }

    button {
        font-size: 7vw;
    }
}
